
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	font-family: 'open_sansregular', Verdana, Arial, Helvetica, sans-serif;
  
}

body.listings-page {
  background:  url("../images/bg.png") repeat-x top left ;
}


strong {
  font-family: 'open_sansbold', Verdana, Arial, Helvetica, sans-serif;
}
#counter {
    display: inline-block;
    font-size: large;
    color: red;
}

.jumbotron h1{
color: #012f6d;
font-weight: bold;
text-align: left;
font-family: 'open_sansbold', Verdana, Arial, Helvetica, sans-serif;
margin-bottom: 0px;
white-space: nowrap;
}

.jumbotron small,
.small {
  font-size: 45%;
}

#jumbo {
  clear: both;
}

#jumbo small,
.small {
  font-size: 45%;
}


#jumbo h3 {
  margin: 0 0 20px 0;
}

  #jumbo .maintag {
    text-align: center;
  }

  #continue {
    padding: 6px 40px;
  }

  .continue .controls {
    text-align: center;
  }

  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small
{
  color: #919191;
}

 h1.secondtag,  h1.thirdtag,  h1.fourthtag, h1.fifthtag, h1.sixthtag {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
}

.panel-default > .panel-heading {
  background-color: transparent;
}

.panel-title {
  font-size: 20px;
}

.jumbotron p {
  text-align: left;
  margin: 20px 0px;
}
p.message  {
  font-size: 21px;
  font-weight: 200;
  margin: 15px 0px;
}

blockquote {
  border-left-color:none;
  border-left-width:0px;
  margin-bottom: 0;
  font-size: 16px;
}

.message-area {
  margin-bottom: 15px;
}

#counter-area {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 15px;
  text-align: center;
}

.fa {
  padding-top: 5px;
  color: #428BCA;
  text-shadow: 1px 0px 5px rgba(150, 150, 150, 1);
}

.listings {
  margin-bottom: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #ccc;
}

.listings .fa {
  text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
  padding: 0;
  vertical-align: middle;
}

.fa-lock, .fa-phone {
  color: #333333;
  text-shadow: none;
  padding-top: 0px;
}

.container {
	max-width: 970px;
}

#body-listings.container {
  max-width: 800px;
}

#body-listings .header {
  color: #fff;
}

#body-listings .header h1{
  font-family: 'open_sansbold', Verdana, Arial, Helvetica, sans-serif;
}

#body-listings2 .header {
  color: #333;
}

.container .jumbotron {
    border-radius: 0px;
  -moz-border-radius: 00px;
  -webkit-border-radius: 0px;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.gray {
  color: #333;
  text-transform: none;
}
.jumbotron {
  background-color: #ffffff;
  padding: 20px 0px;
  margin-bottom: 10px;
}

hr {
  border-color: #ccc;
  margin: 40px 0px;
}

.header {
	border-bottom: none;
  margin-bottom: 10px;
}

#header-top {
	padding-left: 15px;
	padding-right: 15px;
}
#car {
	padding: 0px;
  margin-top: 40px;
}

.row {
	clear: both;
}

.controls{
	margin-bottom: 10px;
  position: relative;
}

#primaryPhone.controls, #altPhone.controls, #workPhone{
  height: 35px;
}

.btn-credit {
  background: #ea5507; /* Old browsers */
  background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
  border: none;
  color: #fff;
  margin-bottom: 10px;
}

.btn-credit:hover,
.btn-credit:focus,
.btn-credit:active,
.btn-credit.active {
  background: #fb955e; /* Old browsers */
  background: -moz-linear-gradient(top,  #fb955e 0%, #ea5507 49%, #f17432 50%, #feccb1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb955e), color-stop(49%,#ea5507), color-stop(50%,#f17432), color-stop(100%,#feccb1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fb955e 0%,#ea5507 49%,#f17432 50%,#feccb1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fb955e 0%,#ea5507 49%,#f17432 50%,#feccb1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fb955e 0%,#ea5507 49%,#f17432 50%,#feccb1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fb955e 0%,#ea5507 49%,#f17432 50%,#feccb1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb955e', endColorstr='#feccb1',GradientType=0 ); /* IE6-9 */
  color: #fff;
    margin-bottom: 10px;
}


.creditscore, .proceed {
  margin: 10px 0;
  text-align: center;
 
}

.creditscore {
  padding: 40px 20px;
  background: #f0f0f0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}

.nocreditscore {
  margin: 15px;
   padding-bottom: 15px;
}

p.secure {
	font-size: small;
  margin: 0;
  text-align: center;
}

p.errorMessage {
  clear: both;
  color: red;
  display: none;
}

#navbar-collapse-1 {
	text-align: right;
  padding: 0px;
}

#buttons img {
	text-align: right;

}
.navbar {
background: none;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid #ccc;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

#buttons {
	display: block;
	width: 200px;
	float: right;
}

#buttons-footer {
  display: none;
  margin-bottom: 10px;
}

#disclaimer {
	 background: none repeat scroll 0 0 #FFFFFF;
   color: #5A5A5A;
   border-top: 1px solid #ccc;
   padding-top: 20px;
   position: relative;
   margin-top: 20px;
}

.marketing {
  font-size: 24px;
  margin-top: 80px;
}
#disclaimer p, .footertext {
  font-size: x-small;
}
   
form.form-page2 input.primary-phone, form.form-page2 input.alt-phone, form.form-page3 input.ssn, form.form-page3 input.work-phone{
  width: 31%;
  float: left;
  margin-right: 5px;
}
form.form-page3 div.dob, form.form-page3 input.work-phone{
  margin-bottom: 10px;
}

#timer {
  padding: 10px 40px;
}

#phone{
	text-align: right;
  font-weight: bold;
}
.navbar-nav{
	float: right;

}

.formFields {
margin-bottom: 30px;
}

fieldset.last{
margin-bottom: 0px;
}

#steps .last {
  border-right: 1px solid #ccc;
}

.formFields legend {
  border-color: -moz-use-text-color -moz-use-text-color #CCCCCC;
}

#form {
	margin-bottom: 20px;
}

form.form-page2, form.form-page3, form.form-page4 {
  padding: 0 0 10px 0px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

form.form-page2 input, form.form-page3 input, form.form-page4 input, form.form-page2 select, form.form-page3 select, form.form-page4 select{
width: 100%;
padding: 5px;
height: 37px;
line-height: 37px;
}


form.form-page2 .row, form.form-page3 .row, form.form-page4 .row{
  padding: 0px 20px;
}

form.home input, form.home select {
  padding: 5px;
  text-align: center;
  font-size: large;
  width: 50%;
  border: 3px solid #9e9d9d;
}

form.home select {
  padding: 0px;
  width: 70%;
  text-align: left;
}

form.home button {
  padding: 10px;
}

form.form-page2 legend, form.form-page3 legend {
  background: #5CB2F2; /* Old browsers */
  background: -moz-linear-gradient(top,  #92c8ef 0%, #5cb2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92c8ef), color-stop(100%,#5cb2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #92c8ef 0%,#5cb2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #92c8ef 0%,#5cb2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #92c8ef 0%,#5cb2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #92c8ef 0%,#5cb2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92c8ef', endColorstr='#5cb2f2',GradientType=0 ); /* IE6-9 */
  color: #ffffff;
  padding: 5px 5px 5px 10px;

}

.sidebar {
  background: #d9edf2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7fbfc 0%, #d9edf2 40%, #add9e4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fbfc), color-stop(40%,#d9edf2), color-stop(100%,#add9e4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7fbfc 0%,#d9edf2 40%,#add9e4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7fbfc 0%,#d9edf2 40%,#add9e4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7fbfc 0%,#d9edf2 40%,#add9e4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7fbfc 0%,#d9edf2 40%,#add9e4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  padding: 0px 20px;
  margin-bottom: 15px;
}

.sidebar h2 {
  border-bottom: 1px solid #ccc;
}

.sidebar ul {
  padding: 0px 20px;
}

.credit {
  margin: 0 auto;
}
.dob {
  padding-right: 5px;
}

#dob {
  z-index: 1;
}

div.years-at-employer, div.months-at-employer, div.years-at-residence, div.months-at-residence {
  margin-right: 5px;
}

.help-inline {
  padding-right: 10px;
}

.stepbox {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  height: 230px;
  padding: 20px;
  background: #f0f0f0; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}

#steps p {
  margin-bottom: 20px;
}

.steplast {
  border-right: 1px solid #ccc;
}
#faq-content {
	padding: 10px 0px;
  font-size: 18px;
}
h2.formtag {
	font-size: x-large;
}

h3.secondtag, h3.thirdtag {
  text-align: left;
  font-family: 'open_sansbold',Verdana,Arial,Helvetica,sans-serif;
}

.maintag {
  text-transform: uppercase;
  text-align: left;
  margin-top: 0px;
}

h3.maintag {
    color: #919191;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0px;
}

.zipfieldset {
  margin-top: 85px;
}

form.home{

	background: url("../images/ribbon2.png") no-repeat top center ;
  padding: 35px 0px;
  text-align: center;
}

.loanType {
  margin: 0 auto;
}

img.larger {
  display: none;
}

img.smaller {
  display: block;
}

#ssnQuestion, #rightQuestion, #leftQuestion {
  background-color:purple;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  cursor:pointer;
  padding:5px 3px;
  position:absolute;
  left:0px;
  top:30px;
  width:12px;
  color: #fff;
  display: block;
}
#ssnumber{
  position: relative;
}

#ssnumber #rightQuestion {
  right: -8px;
}

#rightQuestion {
  right:-15px;
  top:5px;
  left: auto;
}

#leftQuestion {
  left:0px;
  top:30px;
}

.css_tooltip_content {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: blue;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 8px 5px;
    color: #f5f5f5;
    max-width: 200px;
    font-size: small;
    text-align: left;
    text-shadow: none;
}

#ssnQuestion span.css_tooltip_content, #rightQuestion span.css_tooltip_content, #leftQuestion span.css_tooltip_content{
  background: purple;
  bottom: 0px;
  left: 0px;
  width: 300px;
  z-index: 2;
}

div.css_tooltip_content{
  background: blue;
height: 20px;
position: relative;
top: -30px;
left: 0px;

}

.css_tooltip:hover .css_tooltip_content{
  display: block;
}

.help-block {
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #737373;
}

#inner {
  margin: 20px;
}

#PPcheckbox {
  height: auto;
  width: auto;
}
/* Custom button
-------------------------------------------------- */

/* Override base .btn styles 
/* Apply text and background changes to three key states: default, hover, and active (click). 
.btn-saf,
.btn-saf:hover,
.btn-saf:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007da7;
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers and standards. 
.btn-saf {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
  ...
}

/* Set the hover state */
/* An easy hover state is just to move the gradient up a small amount. Add other embellishments as you see fit. 
.btn-saf:hover {
  background-position: 0 -15px;
}
*/
@media (max-width: 991px) {
  #buttons {
    display: none !important;
  }
  #buttons-footer {
    display: block !important;
  }
  #jumbo h1, .maintag {
  	text-align: center !important;
  }
  #car img {
  	margin: 0 auto !important;

  }
  form {
  	width: 85% !important;
  	margin: 0 auto !important;
  }
  .stepbox {
  border-top: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  }
}
@media (min-width: 600px) {
  #form .control-group-home{
    margin: 0px 60px !important;
  }
}

@media (max-width: 767px) {
.navbar-nav {
  float: none !important;
  text-align: left !important;
  }
.jumbotron {
  border-bottom: 0px !important;
  }
 
}

}
@media (max-width: 599px) {

  #form .control-group-home{
  margin: 0px 20px !important;
  }

}

@media (max-width: 360px) {
  form {
    width: 100% !important;
    margin: 0 auto !important;
  }
  h2.formtag {
  font-size: large !important;
  }
  .btn-lg {
  font-size: 14px !important;
  }
  form.home input {
  font-size: medium !important;
  width: 70% !important;
  }
}

@media (max-width: 991px) {
   #ssnQuestion {
    display: none;
  }
  form.form-page2, form.form-page3, form.form-page4 {
    border: 0px !important;
  }
  .mobileon {
    display: none !important;
  }
}

.form-control {
  margin: 0 auto;
}

#counter-area.lenderText {
  font-size: 19px;
  font-family: 'open_sansbold', Verdana, Arial, Helvetica, sans-serif;
}


.overflowBox {
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1em;
    height: 90px;
    overflow-y: scroll;
    margin-bottom: 10px;
    overflow-x: hidden;
}

.text-nowrap {
  white-space: nowrap;
}